<html>
<head>
{{template "head.tmpl" .}}
<title>dasharez0ne Compendium - About</title>
</head>
<body>
<h1>About</h1>

<h2>What is dasharez0ne ?</h2>

A comedic social media account.
Probably best to read the <a href="https://en.wikipedia.org/wiki/Da_share_z0ne">wikipedia article</a>.<br>
After that you can look at any dasharez0ne macros <b>about</b> <a href="tag/wikipedia">wikipedia</a>!!!

<h2>What is dasharez0ne-compendium ? (this site)</h2>

A compendium of all {{ .number }} macros in searchable format.
All macros are de-duplicated, captioned, and tagged.<br>

The site is a <a href="https://en.wikipedia.org/wiki/Wiki">Wiki!</a>.
Anyone can edit the <a href="https://github.com/solarkennedy/dasharez0ne-compendium/wiki">macro content</a>
or even the <a href="https://github.com/solarkennedy/dasharez0ne-compendium">Code</a> that powers this site.
<br>
Lastly, the site has an <a href="/api/index.html">API</a>.
Please be nice to it.
<br>

{{template "footer.tmpl" .}}
</body>
</html>