<html>
<head>
<title>dasharez0ne Compendium - ALL MACROS</title>
</head>
<body>
<h1>Tags</h1>

<table>
  <tr>
    <th>{{ .number }} Macros</th>
    <th>Caption</th>
    <th>Original Text</th>
    <th>Tags<th>
  </tr>
  {{ range $macro := .macros}}
  <tr>
    <td><a href="/macro/{{.Id}}"><img height="200" src="{{.Image}}"></a> </td>
    <td>{{.Caption}}</td>
    <td>{{.OriginalText}}</td>
    <td>[ {{range .Tags}}<a href="/tag/{{.}}">{{.}}</a> {{end}} ]</td>
  </tr>
  {{ end}}
</table>

{{template "footer.tmpl" .}}
</body>
</html>