<html>
<head>
{{template "head.tmpl" .}}
<title>Welcome to dasharez0ne Compendium!</title>
<meta property="og:type" content="website">
<meta property="og:title" content="dasharez0ne Compendium">
<meta property="og:description" content="A searchable index of all dasharez0ne image macros">
<meta property="og:image" content="{{.macro.Image}}">
</head>
<body>
<h1>Welcome to dasharez0ne Compendium!</h1>
<h3>A searchable index of all {{.total_count}} dasharez0ne image macros that anyone can edit.</h3>

<hr>
Latest Macro:<br>
<a href="macro/{{.macro.Id}}">
  <img src="{{.macro.Image}}" height="400" alt="{{.macro.OriginalText}}">
</a>
<br>
And a random Macro:<br>
<a href="macro/{{.random_macro.Id}}">
  <img src="{{.random_macro.Image}}" height="400" alt="{{.random_macro.OriginalText}}">
</a>
<br>
Example links:
<ul>
{{ range $key, $value := .urls }}
   <li><a href="{{ $value }}">{{ $key }}</a></li>
{{ end }}
</ul>
{{template "footer.tmpl" .}}
</body>
</html>