<html>
<head>
<title>Welcome to dasharez0ne Compendium!</title>
</head>
<body>
<h1>Welcome to dasharez0ne Compendium!</h1>
<h3>A searchable index of all dasharez0ne image macros that anyone can edit.</h3>

<hr>
<a href="{{.macro.Url}}">
  <img src="{{.macro.Image}}" height="400" alt="{{.macro.OriginalText}}">
</a>
Example links:
<ul>
{{ range $key, $value := .urls }}
   <li><a href="{{ $value }}">{{ $key }}</a></li>
{{ end }}
</ul>
{{template "footer.tmpl" .}}
</body>
</html>