<html>
<head>
<title>dasharez0ne Compendium - Macro {{ .id }}</title>
</head>
<body>
<h1>Macro {{.id}}</h1>
<img src="{{.macro.Image}}">
<br>
<ul>
<li><a href="TBD">{{.macro.Id}}</a></li>
<li>Original Text: <pre>{{.macro.OriginalText}}</pre></li>
<li>Original URL: <a href={{.macro.Url}}>{{.macro.Url}}</a></li>
<li>Tags: {{.macro.Tags}}</li>
<li>Caption: <pre>{{.macro.Caption}}</pre></li>
</ul>
{{template "footer.tmpl"}}
</body>
</html>