<html>
<head>
{{template "head.tmpl" .}}
<title>dasharez0ne Compendium - Macro {{ .id }} - {{.macro.Caption}}</title>
<meta property="og:type" content="website">
<meta property="og:title" content="dasharez0ne Compendium - Macro {{ .id }} - ">
<meta property="og:description" content="{{.macro.Caption}}">
<meta property="og:image" content="{{.macro.Image}}">
</head>
<body>
<h1>Macro {{.id}}</h1>
<img height="400" src="{{.macro.Image}}">
<ul>
  <li>Original Text: <pre>{{.macro.OriginalText}}</pre></li>
  <li>Original URL: <a href={{.macro.Url}}>{{.macro.Url}}</a></li>
  <li>Tags: [{{range .macro.Tags}}<a href="/tag/{{.}}">{{.}}</a>  {{end}}]</li>
  <li>Caption: <pre>{{.macro.Caption}}</pre></li>
  {{ if .macro.Commentary }}
  <li>Commentary: {{.macro.Commentary}}</li>
  {{ end }}
  {{ if .macro.DupeOf }}
  <li>Dupe Of: <a href="/macro/{{.macro.DupeOf}}">{{.macro.DupeOf}}</a></li>
  {{ end }}
  {{ if .macro.Dupes }}
  <li>Dupes: [{{range .macro.Dupes}}<a href="/macro/{{.}}">{{.}}</a>  {{end}}]</li>
  {{ end }}
  <li>Edit URL: <a href="{{.macro.EditURL}}">Edit Me!</a></li>
  <li>Permalink: <a href="/macro/{{ .macro.Id}}">Link</a></li>
</ul>
{{template "footer.tmpl" .}}
</body>
</html>