<html>
<head>
<title>dasharez0ne Compendium - Search: {{ .keyword }}</title>
<meta property="og:type" content="website">
<meta property="og:title" content="dasharez0ne Compendium - Search: {{ .keyword }}">
<meta property="og:description" content="Every dasharez0ne macro related to {{ .keyword }}">
<meta property="og:image" content="{{if .results}}{{(index .results 0).Image}}{{end}}">
</head>
<body>
<h1>Tags</h1>

<table>
  <tr>
    <th>{{ .number }} Results for {{ .keyword }}</th>
  </tr>
  {{ range $macro := .results}}
  <tr>
    <td><a href="/macro/{{.Id}}"><img height="200" src="{{.Image}}"></a> </td>
  </tr>
  {{ end}}
</table>

{{template "footer.tmpl" .}}
</body>
</html>