<html>
<head>
<title>dasharez0ne Compendium - Search: {{ .keyword }}</title>
<meta property="og:type" content="website">
<meta property="og:title" content="dasharez0ne Compendium - Search: {{ .keyword }}">
<meta property="og:description" content="Every dasharez0ne macro related to {{ .keyword }}">
<meta property="og:image" content="{{if .results}}{{(index .results 0).Image}}{{end}}">
</head>
<body>
<h1>Search: {{ .keyword }}</h1>

<p>Please use the search box below and type in "{{ .keyword }}":

<script async src="https://cse.google.com/cse.js?cx=3b23bb97d2a55797a"></script>
<div class="gcse-search"></div>

{{template "footer.tmpl" .}}
</body>
</html>