<html>
<head>
{{template "head.tmpl" .}}
<title>dasharez0ne Compendium - Tag: {{ .tag }}</title>
<meta property="og:type" content="website">
<meta property="og:description" content="Every dasharez0ne macro related to {{ .tag }}">
<meta property="og:image" content="{{if .tagged}}{{(index .tagged 0).Image}}{{end}}">
</head>
<body>
<h1>Tags</h1>

<table>
  <tr>
    <th>{{ .number }} Examples of {{ .tag }}</th>
    <th>Caption</th>
    <th>Original Text</th>
    <th>Tags<th>
  </tr>
  {{ range $macro := .tagged}}
  <tr>
    <td><a href="/macro/{{.Id}}"><img height="200" src="{{.Image}}"></a> </td>
    <td>{{.Caption}}</td>
    <td>{{.OriginalText}}</td>
    <td>[ {{range .Tags}}<a href="/tag/{{.}}">{{.}}</a> {{end}} ]</td>
  </tr>
  {{ end}}
</table>

{{template "footer.tmpl" .}}
</body>
</html>