<html>
<head>
<title>dasharez0ne Compendium - All Tags</title>
</head>
<body>
<h1>Tags</h1>

<table>
  <tr>
    <th>Tag Name</th>
    <th>Example</th>
  </tr>
  {{ range $row := .tag_rows}}
  <tr>
    <td><a href="tag/{{.Tag}}">{{.Tag}}</a> ({{.Count}})</td>
    <td><a href="macro/{{.Example.Id}}"><img src="{{.Example.Image}}" height="100"></a></td>
  </tr>
  {{ end}}
</table>

{{template "footer.tmpl" .}}
</body>
</html>